.navigation {
    padding: 10px;
    line-height: 2;
}

.navigation__list {
    list-style-type: none;
    padding-left: 0px;
}

.navigation__item {
margin: 5px;

}

.navigation__link {
    text-decoration: none;
    padding: 5px;
    color: rgb(102 153 247);
}

.navigation__link:hover {
    background: rgb(102 153 247);
    color: rgb(255, 255, 255);
}